/* ESTILOS GENERALES*/

* {
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}

.button {
    background-color: #8B48BF;
    border: none;
    border-radius: 50px;
    box-shadow: 0em 0.1em 0.4em 0.1em #888888;
    color: white;
    height: 44px;
    width: 134px;
}


/* ESTILOS DE HEADER Y SECTION */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25px;
    margin-top: 65px;
    font-size: 13px;
}

header img {
    width: 107px;
    margin-left: 165px;
}

header nav {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

header button {
    width: 20%;
    margin-right: 188px;
}

header a {
    color: #242E52;
    text-decoration: none;
}

.headerSection {
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 100px 0px
}

.headerSection img {
    margin-left: 180px;
}

.headerSection div {
    margin-right: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 410px;
}

.headerSection h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0,35em;
    color: #242E52;
}

.headerSection p {
    color: black;
    font-size: 17px;
    margin: 28px 0px;
}

/*ESTILOS DE MAIN*/

.purpleBar {
    background-color: #8B48BF;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0px; 
}

.purpleBar h2 {
    background-color: #8B48BF;
    width: 450px;
    font-size: 37px;
    font-weight: 500;
}

.purpleBar p { 
    background-color: #8B48BF;
    width: 450px;
    font-size: 16px;    
}

.whiteButton {
    background-color: white;
    border: none;
    font-size: 13px;
    border-radius: 50px;
    box-shadow: 0em 0.1em 0.4em 0.1em #888888;
    color: #8B48BF;
    height: 44px;
    width: 134px;
}

.mainSection1 {
    margin: 40px 154px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.numberCards {
    display: flex;
    font-size: 16px;
    width: 520px;
}

.numberCardsButton {
    background-color: #8B48BF;
    color: white;
    width: 70px;
    height: 43px;
    border-radius: 30px;
    text-align: center;
    font-weight: 700;
    margin-right: 23px;
    
}

.numberCardsText {
    display: flex;
    flex-direction: column;
    color: black;
}

.numberCardsText p {
    color: #B3B2B7;
    width: 400px;
}

.mainSection2 {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mainSection2 h2{
    margin: 97px;
}

.articleProfileCards {
    display: flex;
    margin: 0px 92px 60px;
}

.profileCards {
    color: #B9B9C1;
    background-color: #FAFAFA;
    text-align: center;
    width: 33%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileCards img {
    position: relative;
    top: -40px;
    
}

.profileCards p {
    margin: 0px 21px 25px 21px;
    ;
}

.profileCards h4 {
    color: #3F4868;
    margin-top: 0;
}

.mainSection2 button {
    margin-bottom: 180px;
}

/* ESTILOS DE FOOTER */

footer {
    height: 247px;
    background-color: black;
    color: white;
    margin: 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerFooter {
    display: flex;
    flex-wrap: wrap;
    border: solid;
    height: 133px;
    width: 80%;
}

.footerCard1 {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
}

.logoFooter {
    width: 107.68px;
}

.containerRRSS {
    justify-content: end;
}

.footerCard2 {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.footerNav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footerNav a {
    text-decoration: none;
    color: white;
    line-height: 30px;
}

.footerCard3 {
    width:33%;
}



.copyright {
    color: #8C8C94;
    font-size: 13px;
    text-align: end;
    border: solid;
    width: 80%;
}

/* MEDIA QUERY */

@media screen  (max-width: 480px) {


}